.social-icon {
  padding: 5px;
}

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(5px, 5px);
  }
  50% {
    transform: translate(0px, 10px);
  }
  75% {
    transform: translate(-5px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.hover-animate {
  animation: float 3s ease-in-out infinite;
  display: inline-block; /* Ensures the transform applies correctly */
}

.delay-1 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}

.delay-4 {
  animation-delay: 0.8s;
}

@font-face {
  font-family: "cnn-font";
  src: url("/fonts/cnn-webfont.woff2") format("woff2"),
    url("/fonts/cnn-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "cnn-font", sans-serif;

}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
  background-image: /* our video */ ;
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
  z-index: 3;
}

/* Hiding video controls
	* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
  * See: https://github.com/alvarotrigo/fullPage.js/blob/master/examples/background-video.html
	* --------------------------------------- */
video::-webkit-media-controls {
  display: none !important;
}

#section-1 {
  overflow: hidden;
}

/* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
#section-1 .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 43%;

  /*
		* Preventing flicker on some browsers
		* See http://stackoverflow.com/a/36671466/1081396  or issue #183
		*/
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Centered texts for title
	* --------------------------------------- */
#section-1 {
  text-align: center;
  overflow: hidden;
  color: white;
}

#candidate-info-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#candidate-info-photo {
  height: 20%;
}

#candidate-info-name {
  padding-top: 10px;
  height: 30%;
}

/* For down arrow on scrolling*/

.scroll-text {
  padding-top: 4vh;
  font-size: 75%;
  margin-bottom: 0px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
  animation: blink 2s infinite; 
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@keyframes blink {
  0% {
    opacity: 1; /* Fully visible */
  }
  50% {
    opacity: 0; /* Invisible */
  }
  100% {
    opacity: 1; /* Fully visible */
  }
}

#candidate-introduction{
  border: solid;
  background: #f5f5f5;
}

.section{
 background-position: center;
}

#section-3{
  background-image: url(https://images.unsplash.com/photo-1510265382668-7b564935d7b5?q=80&w=3132&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.underline{
    height: 1.5vh;
    margin-bottom: 4vh;
}

.redBlock{
    background-color: #B31942;
}

.blueBlock{
    background-color: #0A3161;
}